$content-fontcolor: #333;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$light-fontColor: #999;
$hightlight-fontColor: #E93B3B;
$medium-fontColor: #666;
$btn-bgColor: #0091FF;
$dark-fontColor: #000;
$bgColor: #FFF;
$dark-bgColor: #F8F8F8;